alembic==1.7.7
aniso8601==9.0.1
asgiref==3.7.2
asttokens==2.4.1
attrs==23.1.0
Babel==2.13.1
bcrypt==3.2.0
bleach==4.1.0
blinker==1.7.0
boto3==1.33.8
botocore==1.33.8
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
coverage==7.3.2
cycler==0.12.1
decorator==5.1.1
Django==3.2.23
dnspython==2.4.2
email-validator==1.1.3
executing==2.0.1
Flask==2.0.3
Flask-Admin==1.6.0
Flask-BabelEx==0.9.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Principal==0.4.0
flask-restx==0.5.1
Flask-Script==2.0.6
Flask-Security-Too==4.1.3
flask-shell-ipython==0.4.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.46.0
greenlet==3.0.1
gunicorn==21.2.0
idna==3.3
iniconfig==2.0.0
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
Mako==1.3.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
numpy==1.26.2
packaging==23.2
parso==0.8.3
passlib==1.7.4
Pillow==10.1.0
pluggy==1.3.0
prompt-toolkit==3.0.41
psutil==5.9.6
psycopg2-binary==2.9.9
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
PyMySQL==1.0.2
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.31.1
requests==2.27.1
rpds-py==0.13.2
s3transfer==0.8.2
setuptools==69.0.2
six==1.16.0
speaklater==1.3
SQLAlchemy==1.4.32
sqlparse==0.4.4
stack-data==0.6.3
task-manager==6.5.0
traitlets==5.14.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
wcwidth==0.2.12
webencodings==0.5.1
Werkzeug==2.0.3
wheel==0.42.0
WTForms==2.3.3
